p {
  font-family: Roboto;
  background-color: blue;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./static/background.png);
  background-size: 120vh;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #171717 !important;
  background-attachment: fixed;
}

.navbar-custom {
  position: fixed !important;
  width: 100%;
  border-bottom: 1px solid #c1c1c1;
  background-color: #171717 !important;
  z-index: 2;
}

.react-brand {
  margin-right: 1rem;
}

.brand-custom {
  font-family: Roboto;
  font-size: 1rem;
}

.nav-link {
  font-family: Roboto;
}

.carousel-custom {
  height: 400px;
  width: 624px;
}

.carousel-item-custom {
  border-radius: 5px;
  height: 400px;
  width: 624px;
}

.container-custom {
  background-color: #f9f9f9;
  padding: 1rem;
  font-family: Roboto;
  font-size: 1rem;
}

.container-main {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.container-welcome {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  margin: 26vh 15rem;
  border: 2px solid white;
  font-family: Corbel;
  font-size: 2rem;
  color: white;
  padding: 1rem 2rem;
}

/*
.custom-navbar {
   background-color: #f1f1f1 !important;
   box-shadow: 0px 4px 0px 0px rgb(0, 0, 0, .2);
   position: fixed;
   padding: 1% 0 !important;
   width: 100%;
 }

.custom-hover {
  border-color: transparent !important;
  outline: none !important;
}

.nav-link {
  color: #666;
  font-family: Roboto;
  font-weight: 400;
}

.nav-link:hover {
  color: black !important;
  transition-duration: .5s;
}

.navbar-flex {

  display: flex;
  flex-direction: row;
}

.logo-brand {
  margin-left: 1vw;
  animation: logo-animator 2s infinite linear;
  color: #3498db;
}

.resume::before {
  padding-right: 12px;
  content: "\f27e";
  font-family: FontAwesome;
}

.github::before {
  padding-right: 12px;
  content: "\f092";
  font-family: FontAwesome;
}

.title {

}

.container {
  background-color: blue;
  display: flex;
  flex-direction: row;
}


@keyframes logo-animator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
*/
