p {
  font-family: Raleway;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

body {
  width: 100%;
  background-color: #282830 !important;
  background-attachment: fixed;
}

.navbar-custom {
  position: static !important;
  width: 96%;
  border-bottom: 2px solid #f1f1f1;
  margin: 0% 2%;
  background-color: transparent !important;
  z-index: 2;
}

.react-brand {
  margin-right: .5rem;
  background-color: #fff;
  color: #282830;
  border-radius: 2px;
  padding: 1px;
}

.brand-custom {
  font-family: Raleway;
  animation: loading-bar 2s linear;
}

.nav-link {
  font-family: Raleway;
}

.carousel-custom {
  height: 400px;
  width: 624px;
}

.carousel-item-custom {
  border-radius: 5px;
  height: 400px;
  width: 624px;
}

.container-custom {
  background-color: #d1d1d1;
  padding: 0;
  font-family: Raleway;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.container-main {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.container-welcome {
  display: flex;
  align-self: center;
  background-color: transparent;
  margin: 26vh 15rem;
  border: 2px solid white;
  color: white;
  font-family: Raleway;
  font-size: 2rem;
  padding: 1rem 2rem;
  animation: loading-bar 4s linear;
  border-radius: 6px;
}

.container-custom-small {
  background-color: #e9ecef;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
}

.breadcrumb-custom {
  margin: 1rem;
}

.resume::before {
  padding-right: 12px;
  content: "\f15c";
  font-family: FontAwesome;
  border-radius: 8px;
}

.github::before {
  padding-right: 12px;
  content: "\f092";
  font-family: FontAwesome;
}

.nav-link:hover {
  color: white !important;
  transition-duration: .5s;
}

.profile-pic {
  background-image: url("./static/profile-pic.png");
  background-size: 100%;
  background-color: blue;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
  border-radius: 50rem;
  margin: 2rem;
}

.nav-item {
  width: 2rem;
}

.navbar-toggler:hover {
  color: blue !important;
  transition-duration: .2s;
}

@keyframes loading-bar {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
.custom-navbar {
   background-color: #f1f1f1 !important;
   box-shadow: 0px 4px 0px 0px rgb(0, 0, 0, .2);
   position: fixed;
   padding: 1% 0 !important;
   width: 100%;
 }

.custom-hover {
  border-color: transparent !important;
  outline: none !important;
}

.nav-link {
  color: #666;
  font-family: Raleway;
  font-weight: 400;
}

.nav-link:hover {
  color: black !important;
  transition-duration: .5s;
}

.navbar-flex {

  display: flex;
  flex-direction: row;
}

.logo-brand {
  margin-left: 1vw;
  animation: logo-animator 2s infinite linear;
  color: #3498db;
}

.resume::before {
  padding-right: 12px;
  content: "\f27e";
  font-family: FontAwesome;
}

.github::before {
  padding-right: 12px;
  content: "\f092";
  font-family: FontAwesome;
}

.title {

}

.container {
  background-color: blue;
  display: flex;
  flex-direction: row;
}


@keyframes logo-animator {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(359deg);
  }
}
*/
